.bar-graph-body{
    margin-bottom: 20px;
}


.bar-style{
    background-color: rgb(217, 255, 255);
    width: 15px;
    border-radius: 10px;
    height: 120px;
    display: flex;
    align-items: flex-end;
    /* padding-top: 20px; */
    /* align-items: center; */
    border-style: solid;
    border-radius: 3px;
    border-color: teal;
    border-width: 0.1px;
    margin-left: 3px;
    margin-bottom: 5px;
    
}

.bar-fill{
    /* color: black; */
    width: 100%;
    
    border-radius: 3px;
    /* border-top-left-radius: 0px; */
    /* border-top-right-radius: 0px; */
    background-color: teal;
    border-width: 1px;
}

.bar-graph-level{
    color: rgb(0, 48, 48);
    font-size: 12px;
}


@media only screen and (max-width: 768px) {
    .bar-style{
        width: 10px;
        
        
    }
    
}