.expense-item {
    background-color: teal;
    justify-content: space-between; 
    display: flex;
    padding: 20px;
    border-radius: 30px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 50px;

}

.expense-date{
    display: block;
    padding-top: 15px;

}

.expense-item-name{
    display: flex;
}
